<form action="/create/account" method="POST" >
    <label for="name">name</label>
    <input type="text" name="name" placeholder="Full Name"><br><br>
    
    <label for="username">New Username</label>
    <input type="text" name="username" placeholder="New username"><br><br>
    
    <label for="password1">password</label>
    <input type="password" name="password1" placeholder="password"><br><br>

    <label for="password2">password again</label>
    <input type="password" name="password2" placeholder="password again"><br><br>

    <button type="submit">submit</button>
</form>